.selectArea {
  width: 90%;
  margin: 1rem auto 2rem;
}

.prefectureItem {
  cursor: pointer;
}

.graphArea {
  width: 90%;
  margin: 2rem auto;
}

.selectAreaList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

.selectAreaItem {
  width: 20%;
  margin-top: 0px;
}

.selectTypebox {
  display: flex;
  align-items: center;
}

.mainHeaderArea {
  display: flex;
  justify-content: space-between;
}